<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKZTCDyz-Go3_GfeNcilDpnhM0V5VRKpc</string>
	<key>GCM_SENDER_ID</key>
	<string>201392414993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ultimatelavashgames.rollthehole</string>
	<key>PROJECT_ID</key>
	<string>roll-the-hole</string>
	<key>STORAGE_BUCKET</key>
	<string>roll-the-hole.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201392414993:ios:7431361c96520dc47facb0</string>
</dict>
</plist>